<div class="bio-austria">
    <div class="inner_bio-austria">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="bio-austria_wrapers">
                        <div class="top_bio">
                            <h4>Willkommen zu</h4>
                            <h2>Klaub´s ruhig BIO - Erdäpfel</h2>
                        </div>
                        <div class="bottom_line">
                            <div class="img_auth">
                                <img src="../../../../../assets/img/bio_austria_logo.png" alt="">
                            </div>
                            <div class="auth_content">
                                <h4>We are a Member of the
                                </h4>
                                <h2>"BIO AUSTRIA"</h2>
                                <button>Lear More</button>
                            </div>
                        </div>
                        <div class="main_ful_cont">
                            <p>
                                Convallis malesuada neque imperdiet id euismod posuere. Vitae, nascetur donec fermentum fringilla mauris nunc. Egestas eu elit quam turpis tincidunt. Morbi tempor enim egestas accumsan.
                            </p>
                            <button class="resume_gr">
                              <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                  <path d="M12 10V16M12 16L9 13M12 16L15 13M17 21H7C5.89543 21 5 20.1046 5 19V5C5 3.89543 5.89543 3 7 3H12.5858C12.851 3 13.1054 3.10536 13.2929 3.29289L18.7071 8.70711C18.8946 8.89464 19 9.149 19 9.41421V19C19 20.1046 18.1046 21 17 21Z" stroke="#7FB740" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </span>
                              Download Certificate
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="bio_img">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>