<div class="our_product_section">
    <div class="inner_our_product_section">
        <div class="header_section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="main_header">
                            <h4>Our Product</h4>
                            <h2>Unsere Sorten</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="potato_cont_section">
            <div class="container">
                <div class="row">
                    <div class="w-sliders">
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide *ngFor="let item of this.data_prod">
                                <div class="potato_card">
                                    <div class="potato_img_box">
                                        <img src="../../../../../assets/img/product/{{item.img}}" class="card_thumb" />
                                    </div>
                                    <div class="potato_card_content">
                                        <h4>{{item.title}}</h4>
                                        <h2>${{item.price}} USD</h2>
                                        <button class="card_btns">Add to cart</button>
                                    </div>
                                </div>
                            </ng-template>

                        </owl-carousel-o>
                    </div>

                    <!-- <div class="col-xl-4 col-md-4 col-12" *ngFor="let item of this.data_prod">
                        <div class="potato_card">
                            <div class="potato_img_box">
                                <img src="../../../../../assets/img/product/{{item.img}}" class="card_thumb" />
                            </div>
                            <div class="potato_card_content">
                                <h4>{{item.title}}</h4>
                                <h2>${{item.price}} USD</h2>
                                <button class="card_btns">Add to cart</button>
                            </div>
                        </div>
                    </div> -->


                </div>

            </div>

        </div>
    </div>
</div>
