<div class="product_slider_sectiuoi">
    <div class="inner_product_slider_sectt">
        <div class="container">
            <div class="full_slider_areas">
                <div class="your-slider-class">
                    <div class="slider_img">
                        <div class="inner_slider_img">
                            <img src="../../../../../assets/img/s1.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="slider_img">
                        <div class="inner_slider_img">
                            <img src="../../../../../assets/img/s2.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="slider_img">
                        <div class="inner_slider_img">
                            <img src="../../../../../assets/img/s3.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="slider_img">
                        <div class="inner_slider_img">
                            <img src="../../../../../assets/img/s2.png" alt="" srcset="">
                        </div>
                    </div>
                    <!-- Add more slides as needed -->
                </div>
            </div>
        </div>
    </div>
</div>
