<div class="footer_section">
    <div class="inner_footer_sections">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-12">
                    <div class="footer_column">
                        <div class="footer_logo">
                            <img src="../../../assets/img/logo.png" alt="" srcset="">
                        </div>
                        <div class="footer_txt">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-0"></div>
                <div class="col-xl-3  col-md-6 col-12">
                    <div class="footer_links_areas">
                        <h4>
                            Headquarters

                        </h4>
                        <h5>Taufkirchen / Pram</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copy_right">
        <div class="inner_footer_copy_right">

            <div class="container">
                <div class="full_footer">
                    <div class="row">
                        <div class="col-xl-6 col-md-12 col-12">
                            <div class="footer_txt">
                                <h4>All Rights Reserved klaub’s ruhig</h4>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-12 col-12">
                            <div class="footer_txt">
                                <ul>
                                    <li><a href="">ÜBER UNS</a></li>
                                    <li><a href="">UNSERE SORTEN</a></li>
                                    <li><a href="">KONTAKT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
